<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <form (submit)="onLogin(); $event.preventDefault()">
    <!-- Usuario -->
    <div class="form-group">
      <div class="input-container">
        <span class="input-icon">👤</span>

        <input type="text" id="usuario" [formField]="loginForm.usuario" placeholder="Usuario" />
        @if (loginForm.usuario().invalid()) {
          @for (error of loginForm.usuario().errors(); track error) {
            <span>{{ error.message }}</span>
          }
        }
      </div>
    </div>

    <!-- Contraseña -->
    <div class="form-group">
      <div class="input-container">
        <span class="input-icon">🔒</span>

        <input
          type="password"
          id="password"
          [formField]="loginForm.password"
          placeholder="Contraseña"
        />
        @if (loginForm.password().invalid()) {
          @for (error of loginForm.password().errors(); track error) {
            <span>{{ error.message }}</span>
          }
        }
      </div>
    </div>

    <!-- Botón -->
    <button type="submit" [disabled]="!loginForm().valid()">Entrar</button>

    <!-- Recuperar contraseña -->
    <label> ¿Has olvidado tu contraseña? </label>
  </form>
</div>
