<div class="login-container">
  <h2>Iniciar Sesión</h2>

  <form [formRoot]="loginForm">
    <!-- Usuario -->
    <div class="form-group">
      <div class="input-container">
        <span class="input-icon">👤</span>

        <input type="text" id="user" [formField]="loginForm.user" placeholder="Usuario" />
        @if (loginForm.user().invalid() && loginForm.user().touched()) {
          @for (error of loginForm.user().errors(); track error) {
            <span>{{ error.message }}</span>
          }
        }
      </div>
    </div>

    <!-- Contraseña -->
    <div class="form-group">
      <div class="input-container">
        <span class="input-icon">🔒</span>

        <input type="password" id="pass" [formField]="loginForm.pass" placeholder="Contraseña" />
        @if (loginForm.pass().invalid() && loginForm.pass().touched()) {
          @for (error of loginForm.pass().errors(); track error) {
            <span>{{ error.message }}</span>
          }
        }
      </div>
    </div>

    <!-- Botón -->
    <button type="submit" [disabled]="!loginForm().valid() || loginForm().submitting()">
      {{ loginForm().submitting() ? 'Accediendo...' : 'Iniciar sesión' }}
    </button>

    <!-- Recuperar contraseña -->
    <label> ¿Has olvidado tu contraseña? </label>
  </form>
</div>
